h3 {
  text-align: center;
  color: rgb(0, 118, 30);
  font-size: italic;
}
.skill-header {
  text-align: left;
}
.skill-container {
  border: solid lightcoral;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 8px;
}
.mid {
  text-align: center;
}
.right {
  text-align: right;
}
.color {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #e63946,
    #faf3dd,
    #a8dadc,
    #457b9d,
    #1d3557
  );
  background-size: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 5s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
#KORN {
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container_mid {
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  font-family: arial;
  color: rgb(14, 72, 138);
}

nav a::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  height: 5px;
  background-image: linear-gradient(to right, #2aba4d, #12a2af);
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  transition: 0.4s;
}

nav a:hover::after {
  width: 50%;
  opacity: 1;
}

.box {
  width: 300px;
  height: 400px;
  position: relative;
}

.img {
  width: 80%;
  height: 60%;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
}

.content {
  background-color: #fff;
  width: 77%;
  position: absolute;
  bottom: 30%;
  padding: 10px;
  left: -20px;
}

.content h1 {
  font-size: 20px;
}
.content p {
  font-size: 14px;
  color: #3d3d3d;
}
